/* GLOBAL */

.App {
  text-align: center;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #ce8600, 0 0 1em #ce8600, 0 0 0.2em #ce8600;
  
  /* background-image: url("../public/bowling_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* NAVBAR */

#navBar {
  overflow: hidden;
  background-color: #ac7205;
}

#navBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navBar a:hover {
  /* background-color: #00008a; */
  background-color: #2121ba;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #ce8600, 0 0 1em #ce8600, 0 0 0.2em #ce8600;
  /* font-weight: bold; */
}

/* APPLIES TO ALL TABS */

.Headers {
  background-color: #101010;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: 30%;
  margin: auto;
}

h2 {
  letter-spacing: normal;
}

.divider {
  width: 75%;
  margin: auto;
}

hr.dividerLine {
  height: 2px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    #d19a34 0%,
    #d19a34 100%
  );
}

.notes {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.notes h4 {
  margin: 10px 20px;
}

/* BUTTONS (Add=add / More=details, view, update / Delete=delete) */

.addButton {
  border: 0;
    line-height: 2;
    padding: 0px 20px;
    margin: 0px 10px;
    /* font-size: 1rem; */
    text-align: center;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 6px;
    background-color: #2121ba;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.addButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.moreButton {
  border: 0;
    line-height: 2;
    padding: 0px 20px;
    margin: 0px 10px;
    /* font-size: 1rem; */
    text-align: center;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 6px;
    background-color: #ac7205;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.moreButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.deleteButton {
  border: 0;
    line-height: 2;
    padding: 0px 20px;
    margin: 0px 10px;
    /* font-size: 1rem; */
    text-align: center;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 6px;
    background-color: #ad0000;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.deleteButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* APPLIES TO ALL TABLES */

table {
  border: solid;
  border-width: 2px;
  border-color: #ac7205;
  border-radius: 5px;
  margin: auto;
  border-spacing: 0;
}

.topRow {
  background-color: #303030;
}

.topRow th {
  color: #f2f2f2;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

.middleRow {
  background-color: #d19a34;
}

.middleRow td {
  color: #f2f2f2;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

.bottomRow {
  background-color: #d2d2d2;
}

.bottomRow td {
  color: #303030;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

/* APPLIES TO ALL SECONDARY NAVBARS */

.secondaryNavBar a {
  float: none;
  background-color: #303030;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 14px;
  margin: 0px 5px;
  text-decoration: none;
  border: solid;
  border-width: 3px;
  border-color: #2121ba;
  border-radius: 5px;
}

.secondaryNavBar a:hover {
  /* background-color: #2121ba; */
  background-color: rgb(172, 114, 5);
  color: #f2f2f2;
  /* text-shadow: 1px 1px 2px #ce8600, 0 0 1em #ce8600, 0 0 0.2em #ce8600; */
  text-shadow: 1px 1px 2px #2121da, 0 0 1em #2121da, 0 0 0.2em #2121da;
  /* font-weight: bold; */
}

/* MYSTATS */

.myStatsContainer {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: 20%;
  margin: auto;
}

/* MYSESSIONS */

.sessionContainer {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: 25%;
  margin: auto;
}

.sessionForm {
  background-color: #505050;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.sessionForm form {
  margin: 10px 20px;
}

/* MYGAMES */

.gameContainer {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.gameContainer h3 {
  margin: 5px 20px;
}

.gameFormNotes {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.gameFormNotes div {
  margin: 5px 10px 5px;
}

.gameFormFrame {
  width: 32px;
}

.gameFormScore {
  width: 100px;
}

/* FRIENDSLIST */

.friendContainer {
  background-color: #303030;
  border: solid;
  border-width: 3px;
  border-color: #ac7205;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.friendContainer h3 {
  margin: 5px 20px;
}

/* .topRow {
  background-color: #303030;
}

.topRow th {
  color: #f2f2f2;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
} */

.multiRow:nth-child(odd) {
  background-color: #d19a34;
}

.multiRow:nth-child(odd) td {
  color: #f2f2f2;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

.multiRow:nth-child(even) {
  background-color: #d2d2d2;
}

.multiRow:nth-child(even) td {
  color: #303030;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

/* .middleRow {
  background-color: #d19a34;
}

.middleRow td {
  color: #f2f2f2;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
}

.bottomRow {
  background-color: #d2d2d2;
}

.bottomRow td {
  color: #303030;
  border: 1px solid;
  border-color: #ac7205;
  padding: 2px 10px;
} */