.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#NavBar {
  overflow: hidden;
  background-color: #21838090;
}

#NavBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#NavBar a:hover {
  background-color: #61dafb;
  color: black;
  font-weight: bold;
}

table {
  margin: auto;
}

tbody tr:nth-child(odd) {
  background-color: #73D2DE80;
  background-image: linear-gradient(#73D2DE80, #21838080)
}

tbody tr:nth-child(even) {
  /* background-color: #ad436f80; */
  background-color: #ad436f80;
  background-image: linear-gradient(#eba7c380, #D8115980)
}

.gameFormFrame {
  width: 32px;
}

.gameFormScore {
  width: 50px;
}